@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark']{
    --primary-color: #FFFFFF; /*Cor dos titulos*/
    --secundary-color: #b4b4b4;
    --descricao-color: #E7E7E7; /*Cor dos textos embaixo dos titulos*/
    --primary-bg-color: #1B1B1B; /*Cor do Background*/
    --secundary-bg-color: #272727; /*Cor do Background Dos Itens (projetos e tal)*/
    --icon-color: #FFFFFF; /*Cor do icone (sol/lua)*/
    --menu-items-color: #acacac; /*Cor dos itens do menu*/
    --menu-border-color: #707070; /*Cor da borda do menu (linha dividindo)*/
    --item-color-selected: #FFFFFF; /*Cor do item quando selecionada*/
}

:root[data-theme='light']{
    --primary-color: #000000; /*Cor dos titulos*/
    --secundary-color: #464646;
    --descricao-color: #202020; /*Cor dos textos embaixo dos titulos*/
    --primary-bg-color: #ffffff; /*Cor do Background*/
    --secundary-bg-color: #b6b6b6; /*Cor do Background Dos Itens (projetos e tal)*/
    --icon-color: #000000; /*Cor do icone (sol/lua)*/
    --menu-items-color: #202020; /*Cor dos itens do menu*/
    --menu-border-color: #838383;  /*Cor da borda do menu (linha dividindo)*/
    --item-color-selected: #000000; /*Cor do item quando selecionada*/

}

/* Inverter a cor dos ícones das habilidades no modo claro */
html[data-theme='light'] .habilidades__logo {
    filter: invert(20%);
}

/* Reset básico e personalização da barra de rolagem */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scrollbar-width: thin;
    scrollbar-color: var(--secundary-bg-color) transparent;
}

/* Configurações gerais */
body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--item-color-selected);
}

i {
    color: var(--icon-color);
}

b {
    font-weight: 400;
}

hr {
    color: var(--secundary-color);
}

/* Estilos para títulos */
h1 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
}

h3 {
    font-size: 1.55rem;
    text-align: left;
}

h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
}

h1, h2, h3 {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 200;
}

/* Estilos gerais para textos */
p, span, li {
    font-size: 1.25rem;
    color: var(--descricao-color);
}

p {
    text-align: justify;
}

/* HEADER */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

/* Botão para mudar o tema */
.header__toggle {
    display: flex;
    justify-content: flex-end;
}

#mudarTema {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#mudarTema:hover {
    transform: rotate(20deg);
}

/* Logo */
.header__brand .logo {
    width: 3.25rem;
    height: 3.25rem;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease-in-out;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--menu-border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: var(--item-color-selected);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--menu-items-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 1rem;
    text-transform: uppercase;
}   

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--redes {
    gap: 1rem;
}

/* BOTÕES */
.btn {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: center;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: 0.875rem 1rem;
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* CONTEÚDO PRINCIPAL */
main, .projetos {
    padding: 5rem 5rem 1rem 5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 5rem;
}

.main__content2 iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    main, .projetos {
        padding: 3rem 2rem 1rem 2rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
    }

    .btn {
        padding: 0.75rem 0.875rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0.5rem;
    }

    .header__brand .logo {
        width: 2.75rem;
        height: 2.75rem;
    }

    .menu--mobile {
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__icon {
        font-size: 1.25rem;
    }

    .btn {
        font-size: 1rem;
    }

    main {
        padding: 2rem 1rem;
    }

    .main__content1 {
        align-items: center;
        text-align: center;
    }
}


/* SEÇÃO DE HABILIDADES */
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6.25rem 1rem 2rem;
    gap: 1.25rem;
    background: var(--secundary-bg-color);
    margin-top: -5.5rem;
}

.habilidades h2 {
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    text-align: start;
}

.lista__habilidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
}

.habilidades__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--menu-border-color);
    border-radius: 50rem;
    transition: transform 0.3s ease-in-out;
}

.habilidades__item:hover {
    transform: scale(1.1);
}

.habilidades__logo {
    width: 3rem;
    height: 3rem;
}

/* SEÇÃO DE PROJETOS */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__cover {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 100px;
}

.card__titulo {
    font-size: 1.5rem;
}

.card__descricao {
    font-size: 1rem;
    color: var(--descricao-color);
}

.card__lista {
    margin-left: 1rem;
    list-style: disc;
}

.card__botoes {
    display: flex;
}

/* SEÇÃO SOBRE MIM */
.sobremim2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.sobre__foto {
    width: 70%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 50rem;
    border: 1px solid var(--primary-color);
}

.sobre__texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.85rem;
    gap: 1.5rem;
}

.sobre__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre__icones {
    display: flex;
    align-items: center;
    gap: 0.85rem;
}

.sobre_icones i {
    font-size: 1.25rem;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .habilidades {
        padding: 4rem 1rem 2rem;
        gap: 1rem;
    }

    .sobre__foto {
        width: 90%;
    }

    .container__formacao {
        flex-direction: column;
        align-items: center;
    }

    .sobre__experiencias {
        width: 100%;
    }

    .lista__habilidades {
        justify-content: center;
    }

    .projetos {
        padding: 2rem 1rem;
    }

    .card__projetos {
        flex-direction: column;
        align-items: center;
    }
}


/* BOTÃO CENTRALIZADO */
.container__botao {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.sobre__btn {
    background: transparent;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    padding: 0.8rem 2rem;
    transition: transform 0.3s ease-in-out;
}

.sobre__btn span {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.sobre__btn:hover {
    transform: scale(1.08);
}

/* SEGUNDA PARTE DO SOBRE */
.sobre__conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 2rem;
}

.sobre__conteudo2 li,
.sobre__conteudo2 span {
    color: var(--secundary-color);
    list-style: none;
}

/* CONTAINER DE FORMAÇÃO */
.container__formacao {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

/* SEÇÃO DE FORMAÇÃO */
.sobre__formacao {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* SEÇÃO DE EXPERIÊNCIAS */
.sobre__experiencias {
    width: 50%;
}

/* CONTATO */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--menu-border-color);
    padding: 2rem 2rem 5rem;
}

.contato p {
    font-size: 1.1rem;
    text-align: center;
    color: var(--secundary-color);
}

.contato ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.contato li,
.contato span {
    color: var(--secundary-color);
    list-style: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 0.875rem;
    margin-bottom: 5rem;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .container__formacao {
        flex-direction: column;
        align-items: center;
    }

    .sobre__experiencias {
        width: 100%;
    }

    .contato ul {
        flex-direction: column;
        align-items: center;
    }
}



/*--------------------------------------------------------*/

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media(min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--menu-border-color);
        padding: 1rem 4rem;
        background: var(--primary-bg-color);
        width: 100%;
        z-index: 1000;
    }

    .nav--mobile{
        display: none;
    }
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1{
        font-size: 4rem;
    }

    main, .projetos, .sobremim2 {
        padding: 6rem 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .container__formacao{
        gap: 5rem;
    }

    .main__content1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .habilidades{
        padding: 4rem;
    }
}

@media (min-width: 992px){
    .card__projetos.card--reverso{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card__cover{
        width: 100%;
        border-radius: 1.5rem;
    }

    .sobre__conteudo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    .sobre__foto{
        width: 40%;
        border-radius: 50%;
    }
}

@media (min-width: 1200px){
    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }

    main{
        padding: 8rem 6rem;
    }

    .habilidades{
        display: flex;
        justify-content: space-between;
        padding: 6rem;
    }

    .habilidades h2{
        font-size: 2.5rem;
        width: 50%;
    }

    .lista__habilidades{
        justify-content: left;
        gap: 1rem;
    }

    .habilidades__item{
        width: 5rem;
        height: 5rem;
    }

    .card__projetos{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .card__cover{
        width: 45%;
    }
}

@media(min-width:1400px){
    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.5rem;
    }

    .header{
        padding: 1rem 8rem;
    }

    main{
        padding: 10rem 12rem;
    }
    
    .habilidades, .projetos, .sobremim{
        padding: 8rem 12rem;
    }
}


